<style>
	
	body{
		margin: none;
		padding: none;
	}
	
	header{
		list-style: none;
	}

	header nav{
		margin: 0px;
		background-color: rgb(0, 0, 0, 0.3);
		position: fixed;
		top: 0px;
		left: 0;
		width: 224px;
		height: 100%;
	}

	.topnav {
		display: inline;
	}

	.topnav a {
		text-decoration: none;
		color: white;
	}

	.topnav a.active p:hover {
		text-decoration-color: white;
		transition: 0.3s ease-in-out; 
	}

	.topnav a.active p{
		text-decoration: underline;
		text-decoration-color: rgb(255, 255, 255, 0.3); 
		font-size: 32px;
		padding: 1rem 0em 1rem 2rem;
		transition: 0.3s ease-in-out; 
	}

	.Nav.Others{
		font-size: 24px;
		padding: 1rem 0em 1rem 2rem;
		display: block;
		transition: 0.5s;
	}

	.Nav.Others:hover {
		background-color: rgb(0, 0, 0, 0.4);
		transition: 0.5s;
	}

	.topnav .icon {
		display: none;
	}

	.media_icons{
		display: flex;
	}

	.linkedin{
		margin-top: 3rem;
		padding: 1rem 1rem 1rem 2rem;
		width: 25px;
	}

	.youtube{
		margin-top: 3.5rem;
		padding: 1rem 1rem 1rem 1rem;
		width: 25px;
	}

	.facebook{
		margin-top: 3rem;
		padding: 1rem 1rem 1rem 1rem;
		width: 25px;
	}

	section.updates{
		height: 48%;
	}

	section.about_section{
		background-color: rgb(0, 0, 0, 0.2);
		margin-left: 260px;
		padding: 1.5rem;
		margin-top: 2rem;
		margin-right: 2rem;
		color: white;
	}

	.about_discription{
		width: 100%;
	}

	.about_heading{
		font-size: 30px;
		padding-top: 1.1rem;
	}

	.about{
		font-size: 18px;
	}

	.Profile_Pic{
		margin-top: 15%;
		margin-left: 30px;
		margin-bottom: 20px;
		width: 70%;
		border-radius: 50%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.slider {
        margin-left: 224px;
        
    }

    .slider-wrapper {
        position: relative;
    }

    .slide {
        float: left;
        position: absolute;
		max-width: 100%;
        opacity: 0;
        transition: opacity 1s linear;
    }

    .slider-wrapper > .slide:first-child {
        opacity: 1;
    }

	.Details{
		margin-top: 2rem;
		margin-right: 2.1rem;
		color: white;
		margin-left: 260px;
	}

	.Details_port{
		margin-top: 2rem;
		margin-right: 2.1rem;
		color: white;
		margin-left: 260px;
	}

	.P{
		margin: 1rem 0 2rem 0;
	}

	.HText{
		font-size: 28px;
	}

	.Date{
		font-size: 20px;
		position: absolute;
		right: 6rem;
		padding-top: 0.4rem;
	}

	.H{
		display: flex;
		padding: 1.2rem;
		background-color: rgb(0, 0, 0, 0.3);
	}

	.D{
		display: flex;
		font-size: 20px;
		padding: 1.2rem;
		background-color: rgb(0, 0, 0, 0.2);
		text-align: justify;
	}

	.Authors{
		font-size: 20px;
		padding: 0px 1.2rem 1.2rem 1.2rem;
		background-color: rgb(0, 0, 0, 0.2);
		text-align: justify;		
	}

	.more_details{
		margin-top: 10px;
		margin-left: 20px;
	}

	.abstract{
		margin-top: 0px;
		margin-left: 20px;
		font-size: 24px;			
	}

	.abstract_sum{
		margin-top: 10px;
		margin-left: 20px;		
	}

	.gripper{
		border-radius: 10px;
		margin-top: 0px;
		width: 300px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.PCB{
		margin-top: 5px;
		width: 480px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.ILA{
		margin-top: 5px;
		width: 480px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.SBB{
		width: 480px;
		height: 270px;
	}

	.VSJM_1{
		margin-top: 5px;
		width: 280px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
	}

	.Title_MS{
		background-color: rgb(0, 0, 0, 0.4);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		font-size: 30px;
		padding: 20px; 
	}

	.subsection{
		padding: 10 10 10 20; 
		background-color: rgb(0, 0, 0, 0.3);
		margin: none;
		font-size: 24px;
	}
	
	.descipt{
		font-size: 20px;
		padding: 10 20 10 20;
		display: flex;
		text-align: justify;
	}

	.paper{
		background-color: rgb(0, 0, 0, 0.2);
		padding: 10px;
		margin-left: 30px;
	}






	@media screen and (max-width: 1050px){

		body{
			margin: none;
			padding: none;
		}
		
		header{
			list-style: none;
		}

		header nav{
			display: flex;
			margin: 0px;
			background-image: url('back3.png');
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 200px;
		}

		header nav div{
			background-color: rgb(0, 0, 0, 0.3);
		}

		section.updates{
			height: 500px;
		}

		section.about_section{
			background-color: rgb(0, 0, 0, 0.2);
			margin-left: 3%;
			padding: 20px;
			margin-top: 30%;
			margin-right: 3%;
			color: white;
		}

		.about_discription{
			width: 100%;
		}

		.about_heading{
			font-size: 36px;
			padding-top: 20px;
		}

		.about{
			font-size: 20px;
		}

		.Profile_Pic{
			margin: 25px;
			width: 150px;
			border-radius: 75px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.profile_pic_div{
			position: absolute;
			top: 0px;
			left: 0px;
		}

		.slider {
	        margin-left: 0%;
	    }

	    .slide {
	        float: left;
	        position: absolute;
	        z-index: -1;
	        top: 200px;
			max-width: 100%;
	        opacity: 0;
	        transition: opacity 1s linear;
	    }

	    .slider-wrapper > .slide:first-child {
	        opacity: 1;
	    }


		.Details{
			margin-top: 25%;
			color: white;
			margin-left: 1%;
		}

		.Details_port{
			color: white;
			margin-left: 1%;
		}

		.P{
			margin: 10px 0 30px 0;
		}

		.HText{
			font-size: 32px;
		}

		.Date{
			font-size: 20px;
			position: static;
			padding-top: 10px;
		}

		.H{
			display: block;
			padding: 20px;
			background-color: rgb(0, 0, 0, 0.3);
		}

		.D{
			display: block;
			font-size: 16px;
			padding: 20px;
			background-color: rgb(0, 0, 0, 0.2);
			text-align: justify;
		}

		.Authors{
			font-size: 16px;
			padding: 0px 20px 20px 20px;
			background-color: rgb(0, 0, 0, 0.2);
			text-align: justify;		
		}

		.more_details{
			margin-top: 10px;
			margin-left: 20px;
			font-size: 14px;
		}

		.abstract{
			margin-top: 0px;
			margin-left: 20px;
			font-size: 24px;
		}

		.abstract_sum{
			margin-top: 10px;
			margin-left: 20px;
			font-size: 14px;			
		}

		.img_container{
			text-align: center;
			margin: 0 0 20px 0;
			padding: 0px;
		}

		.gripper{
			margin: 0px;
			border-radius: 10px;
			width: 40%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.PCB{
			margin-top: 5px;
			width: 60%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.ILA{
			margin-top: 5px;
			width: 60%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.SBB{
			width: 720px;
			height: 405px;
		}

		.VSJM_1{
			width: 600px;
		}

		.Title_MS{
			margin-top: 220px;
			padding: 20px; 
		}

		.subsection{
			padding: 10 10 10 20; 
			background-color: rgb(0, 0, 0, 0.3);
			margin: none;
			font-size: 24px;
		}
		
		.descipt{
			padding: 10 20 10 30;
			display: block;
			text-align: justify;
			font-size: 14px;
		}

		.paper{
			font-size: 14px;
			background-color: rgb(0, 0, 0, 0.2);
			padding: 15px;
			margin-left: 10px;
		}

		.topnav {
			width: 100%;
			display: inline;
		}

		.topnav a {
			text-decoration: none;
			color: white;
		}

		.topnav a.active:hover {
			text-decoration: underline;
		}

		.topnav a.active p{
			margin: 0px 200px 0px 0px;
			font-size: 60px;
			padding: 65px 0 63px 40px;
		}

		.Nav.Others{
			font-size: 50px;
			padding: 20px 0px 20px 40px;
			display: block;
		}

		.Nav.Others:hover {
			background-color: rgb(0, 0, 0, 0.4);
			transition: 0.5s;
		}

		.linkedin{
			margin: 0;
			padding: 10px 25px 30px 50px;
			width: 60px;
		}

		.youtube{
			margin: 0px 0px 0px 0px;
			padding: 20px 25px 30px 15px;
			width: 60px;
		}

		.facebook{
			margin: 0px;
			padding: 10px 25px 30px 10px;
			width: 60px;
		}

		.topnav a:not(:first-child) {display: none;}
		.topnav div{display: none;}
		  .topnav a.icon {
		  	font-size: 60px;
		  	position: absolute;
		  	top: 0px;
		  	right: 0px;
		  	padding: 70px; 
		  	float: right;
		    display: block;
		  }
		}
		
		.topnav.responsive a {
			margin-right: 0px;
			display: block;
		}

		.topnav.responsive a.Nav.Others{
			background-color: rgb(0, 0, 0);
			padding-right: 40px;
			text-align: right;
		}

		.topnav.responsive div{
			display: flex;
			background-color: rgb(0, 0, 0);
		}

		.topnav.responsive a.Nav.Others:hover{
			background-color: rgb(25, 25, 25, 0.7);
		}

		.topnav a.active{
			background-color: rgb(0, 0, 0, 0);
		}

	}


</style>
